<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for ConsoleApplication1" Description="Code analysis rules for ConsoleApplication1.csproj." ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1623" Action="Hidden" />
  </Rules>
</RuleSet>